.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 255px;
    border-radius: 5px;
    float: left;
    margin-left: 50px;
    margin-top: 5vh;
    margin-bottom: 50px;
    background-color: rgb(202, 202, 202);
    border-style: solid;
    border-width: 2px;
    border-color: rgb(177, 177, 177);
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
img {
    border-radius: 5px 5px 0 0;
}
  
.container {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}