.contact-content {
    padding-top: 10vh;
    margin-bottom: 3em;
}

.contact-info {
    float: left;
    line-height: 1em;
    margin-left: 0.5em;
    padding-top: 0.3em;
}

.contact-form {
    max-width: 600px;
    height: auto;
    float: none;
    margin: auto;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 6px;
    background: #cacaca;
    box-shadow: 0 15px 33px 0 rgba(0, 0, 0, 0.404);
    font-size: 80% !important;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(177, 177, 177);
}

.contact-form:before {
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-bottom-color: #fff;
    content: "";
    position: absolute;
    left: 6%;
    top: -4.5%;
    margin-top: -4px;
    margin-left: 6px;
    z-index: 2;
}

.contact-form label {
    font-weight: bold;
    float: left;
    width: 100%;
    margin-bottom: 1.2em;
}

.contact-form label span {
    width: 100%;
    float: left;
    color: #424242;
    margin-bottom: 6px;
    font-family: 'open_sansregular';
}

.contact-form label input {
    width: 96%;
    font-size: 1em;
    color: #555;
    font-family: 'open_sansregular';
    outline: none;
    border: 1px #dee5ed solid;
    border-radius: 4px;
    padding: 0.6em;
    transition: 0.3s;
}

.contact-form label select {
    font-size: 1em;
    color: #555;
    border: 1px #dee5ed solid;
    border-radius: 4px;
    padding: 0.6em;
    outline: none;
    transition: 0.3s;
}

.contact-form label textarea {
    font-size: 1em;
    color: #555;
    border: 1px #dee5ed solid;
    border-radius: 4px;
    padding: 0.6em;
    outline: none;
    transition: 0.3s;
    width: 96%;
}

.contact-form label input:focus {
    box-shadow: 0 0 5px 0px rgb(178, 216, 231);
    border: 1px rgb(11, 20, 71) solid;
    color: rgb(11, 20, 71);
}

.contact-form label select:focus {
    box-shadow: 0 0 5px 0px rgb(178, 216, 231);
    border: 1px rgb(11, 20, 71) solid;
}

.contact-form label textarea:focus {
    box-shadow: 0 0 5px 0px rgb(178, 216, 231);
    border: 1px rgb(11, 20, 71) solid;
    color: rgb(11, 20, 71);
}

.contact-form button.btn-send {
    background-color: rgb(11, 20, 71);
    width: 100%;
    display: block;
    margin: auto;
    cursor: pointer;
    border-radius: 4px;
    border: 0;
    padding: 0.5em 0em;
    color: #fff;
    font-size: 1.3em;
    font-family: 'open_sansbold';
    text-align: center;
    transition: 0.3s;
}

.contact-form button.btn-send:hover {
    background-color: #333;
}