html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(240, 240, 240);
    overflow-x: hidden;
    overflow-y: auto;
}

.image-div {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/header.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-header {
    width: 100%;
    height: 4em;
    float: left;
    background-color: rgb(133, 133, 133);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: grey 5px 5px 5px 5px;
}

.brand-name {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    position: relative;
}

.text-style {
    float: left;
    color: whitesmoke;
    padding-left: 3vw;
    padding-top: 20vh;
    font-style: italic;
    font-weight: bold;
    font-size: 12vh !important;
    animation: lr-content 360ms;
    animation-delay: 2300ms;
    animation-fill-mode: forwards;
    opacity: 0;
}

.brand-name::before {
    content: '';
    background: rgba(10, 10, 54, 0.678);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    animation: lr-bar 1000ms;
    animation-fill-mode: both;
    animation-delay: 1500ms;
    animation-timing-function: cubic-bezier(0.500, 0.250, 0.500, 0.750);
}

.logo-box {
    padding-top: 20vh;
    padding-left: 20vh;
    width: 7vw;
    height: 14vh;
    float: left;
    display: flex;
    justify-content: left;
}

.mh-logo {
    width: auto;
    height: auto;
    border-radius: 50%;
    animation: lr-content 360ms;
    animation-delay: 2100ms;
    animation-fill-mode: forwards;
    opacity: 0;
}

#next-section {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 10px;
    left: 48%;
    transform: translateY(-50%);
    background-position: center;
    background-image: url('../images/arrow-section.svg');
    z-index: 1;
    animation: lr-content 360ms;
    animation-delay: 2300ms;
    animation-fill-mode: forwards;
    opacity: 0;
}

#back_to_init{
    position: fixed;
    bottom: 10px;
    float: right;
    right: 10px;
    z-index: 1;
    display: none;
}

@keyframes lr-bar {
    0% {
        transform-origin: center left 0px;
        transform: scaleX(0);
    }

    36% {
        transform: scaleX(1);
        transform-origin: center left 0px;
    }

    54% {
        transform: scaleX(1);
        transform-origin: center right 0px;
    }

    90% {
        transform: scaleX(0);
        transform-origin: center right 0px;
    }

    100% {
        transform: scaleX(0);
        transform-origin: center right 0px;
    }
}

@keyframes lr-content {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.home-option {
    margin-left: 3em;
}

.option-style {
    color: rgb(8, 8, 63);
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
}

.link {
    text-decoration: none;
    font-family: ubuntu, Arial, Helvetica, sans-serif;
    color: rgb(8, 8, 63);
    border-bottom: 4px;
    transition: .1s;

}

.link:hover {
    border-bottom: 4px solid rgb(30, 30, 119);
    color: rgb(30, 30, 119);
}

.body-content {
    width: 100%;
    height: auto;
    float: left;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

.same {
    display: none;
}

@media (max-width: 992px) {
    .text-style {
        font-size: 10vh !important;
    }

    .logo-box {
        width: 4vw;
        height: 12vh;
    }
}


@media (max-width: 552px) {
    .text-style {
        font-size: 5vh !important;
        padding-left: 10vh;
    }

    .logo-box {
        display: none;
    }
}